.title-logo{
    height:24px;
    width:24px;
    margin: 0px 10px 0px 2px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    text-decoration: none;
}

.middle-text {
  margin-top: 40px;
}

.title-logo-a {
  text-decoration: none;
}

.text-title-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.about-div {
  padding: 120px;
  align: left;
  display: fixed;
  display: flex;
  justify-content: flex-start;
  max-width: 95%;
}

.profile-image {
  max-width: 340px;
}

.profile-image-div {
  padding-left: 130px;
}

@media only screen and (max-width: 1094px) {
  .about-div {
    padding: 25px;
    align: left;
    display: fixed;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 1094px) {
  .profile-image-div {
    display: none;
  }
}
