/*!
 * Dark Mode Switch v1.0.1 (https://github.com/coliff/dark-mode-switch)
 * Copyright 2021 C.Oliff
 * Licensed under MIT (https://github.com/coliff/dark-mode-switch/blob/main/LICENSE)
 */

[data-theme="dark"] body {
  background-color: #161616 !important;
  color: #ECDBBA;
}

[data-theme="dark"] .form-check-input:checked {
    background-color: #346751;
    border-color: #346751;
}

[data-theme="dark"] .title-logo {
  filter: invert(1);
}

/* projects specific */
[data-theme="dark"] .card {
  background-color: #2B2B2B;
}

[data-theme="dark"] .gl-link-logo {
  filter: invert(1);
}

[data-theme="dark"] th {
  background-color: #2B2B2B;
}

[data-theme="dark"] .text-muted {
    color: #787267 !important;
}

[data-theme="dark"] .card-button-text {
  color: #ECDBBA;
}

[data-theme="dark"] .modal-content {
  background-color: #161616 !important;
  color: #ECDBBA;
}

[data-theme="dark"] .modal-close {
  background-color: #2B2B2B;
  color: #ECDBBA;
}
