html {
  overflow-x: scroll;
}

body {
  overflow: hidden;
}

.home-title {
  position: relative;
  font-weight: 400;
  font-size: 3.3em;
  padding-left: 20px;
}

.home-sub-title {
  position: relative;
  font-weight: 200;
  font-size: 16px;
  padding-left: 10px;
}

@media only screen and (max-width: 1094px) {
  .home-title {
    position: relative;
    font-weight: 400;
    font-size: 2.3em;
    padding-left: 24px;
  }

  .home-sub-title {
    position: relative;
    font-weight: 200;
    font-size: 12px;
    padding-left: 15px;
  }
}

.home-title .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.home-title .letter {
  display: inline-block;
  line-height: 1em;
}
