body {
  background-color: #F6F6F6;
  color: #34392D;
  height:100vh;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

.no-fouc {
  display: none;
}

.text-muted {
    color: #34392D;
}

/* link */
a {
 color: #346751;
}

/* unvisited link */
a:link {
 color: #C84B31;
}

/* visited link */
a:visited {
 color: #C84B31;
}

a:hover {
 color: #346751;
}

.darkmode-switch-div {
  padding: 9px;
}

.navbar-ref {
  color: #4A5240;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-right: 30px;
  text-decoration: none;
}

.navbar {
  background-color: transparent;
  padding-top: 0;
}

.form-switch {
  padding-left: 4em;
  padding-top: 2px;
}

.list-inline {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  margin:20px 0;
  width: 40%;
  list-style-type: none;
}

.footer {
  position: fixed;
  left: 24px;
  bottom: 0;
  width: 100%;
  color: #808080;
  font-size: 11px;
  display: flex;
  justify-content: flex-start;
}


@media only screen and (max-width: 1094px) {
  .footer {
    display: none;
  }
}

@media only screen and (max-width: 1094px) {
  .list-inline {
    width: 100%;
  }
  .navbar-ref {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
  }
}

@media only screen and (max-width: 1094px) {
  .custom-control-label {
      display: none;
  }
}
