.gl-link-logo {
    height:27px;
    width:27px;
    margin: 0px 2px 0px 2px;
    padding: 3px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    text-decoration: none;
}

.projects-container {
  padding: 110px;
  margin-left: 6px;
}

.card {
  background-color: #F0ECE3;
  box-shadow: 2px;
  max-width: 60vh;
}

.card-button-text {
  color: #34392D;
}

.modal-content {
  background-color: #F6F6F6;
}

.modal-body {
  user-select: text !important;
}

.modal-close {
  background-color: #F0ECE3;
  color: #34392D;
}

.project-title {
  padding: 15px;
}

/* projects readme tables */
th {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  background-color: #9b9b9b;
  border-spacing: 2px;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  padding: 4px;
}

/* fix fullscreen modal padding */
.row > * {
    padding-left: 0;
}

/* mobile specific */
@media only screen and (max-width: 1094px) {
  .project-col {
    width: 85%;
  }
}

@media only screen and (max-width: 1094px) {
  .projects-container {
    padding: 30px;
    padding-top: 40px;
  }
}

@media only screen and (max-width: 1094px) {
  .card-button-text {
    display: none;
  }
}

@media only screen and (max-width: 1094px) {
  .card {
    max-width: 50vh;
  }
}

@media only screen and (max-width: 1094px) {
  /* make katex more responsive */
  .katex-display > .katex {
      max-width: 100%;
      font-size: 1em !important;
  }
  .katex-display > .katex > .katex-html {
      max-width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      padding-left: 2px;
      padding-right: 2px;
  }
}
