{% extends "layout.html" %}

{% block head %}

<title>{{ name }} - About</title>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/about.css') }}">

<!-- jquery, popper -->
<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha384-Qg00WFl9r0Xr6rUqNLv1ffTSSKEFFCDCKVyHZ+sVt8KuvG99nWw5RNvbhuKgif9z"
  crossorigin="anonymous">
</script>

{% endblock %}

{% block body %}

<div class="container-fluid about-div" >
  <div class="row">
      <div class="profile-image-div wrapper col">
        <img class="profile-image position-fixed w-25" src="{{ url_for('static', filename = 'images/me.webp') }}"">
      </div>
      <div class="wrapper scroll-wrapper col">
          <div class="top-text">
              <p class="text-title-name">{{ name }}</p>
              <div class="social-icons">
                  <a class="title-logo-a" target="_blank" href="https://gitlab.com/shed909">
                      <img class="title-logo" src="static/images/gitlab.svg">
                  </a>
                  <a class="title-logo-a" target="_blank" href="https://www.linkedin.com/in/shanehull0">
                      <img class="title-logo" src="static/images/linkedin.svg">
                  </a>
                  <a class="title-logo-a" target="_blank" href="https://twitter.com/shed_one">
                      <img class="title-logo" src="static/images/twitter.svg">
                  </a>
                  <a class="title-logo-a" target="_blank" href="https://www.instagram.com/photosfromhull">
                      <img class="title-logo" src="static/images/insta.svg">
                  </a>
              </div>
          </div>
          <div class="middle-text">
              {%- for text in paragraphs.about %}
              <p class="text-content">{{ text|safe }}</p>
              {%- endfor %}
              <br>
          </div>
    </div>
  </div>
</div>

<!-- animation for about load -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/animate-about.min.js') }}"></script>

<!-- hide dark mode switch on scroll -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/hide-dark-mode-switch.min.js') }}"></script>

{% endblock %}
