{% extends "layout.html" %}

{% block head %}

<title>{{ name }} - Home</title>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono:200,400" rel="stylesheet">

{% endblock %}

{% block body %}

<div class="container-fluid p-4 d-flex h-100">
  <div class="row justify-content-center align-self-center">
    <h1 class="home-title text-center-justify">
        <span class="letters">Shane Hull</span>
    </h1>
    <div class="row justify-content-center align-self-center">
      {%- for title in titles %}
      <h3 class="home-sub-title text-left">{{ title }}</h3>
      {%- endfor %}
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename = 'js/animate-home.min.js') }}"></script>

{% endblock %}
