<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- prevent fouc -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/prevent-fouc-start.js') }}">
    </script>

    <!-- jquery, popper -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha384-Qg00WFl9r0Xr6rUqNLv1ffTSSKEFFCDCKVyHZ+sVt8KuvG99nWw5RNvbhuKgif9z"
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"
      integrity="sha512-XLo6bQe08irJObCc86rFEKQdcFYbGGIHVXcfMsxpbvF8ompmd1SNJjqVY5hmjQ01Ts0UmmSQGfqpt3fGjm6pGA=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <!-- dark mode switch js -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/dark-mode-switch.min.js') }}">
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ gtag }}');
    </script>

    <!-- meta for mobile responsive -->
    <meta name="viewport"
          content="width=device-width,
          initial-scale=1">

    <!-- favicon.ico -->
    <link rel="icon"
          type="image/png"
          href="{{ url_for('static', filename = 'images/favicon.ico') }}">

    <!--bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">

    <!-- custom css -->
    <link type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/layout.css') }}">
    <link type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/dark-mode.css') }}">

    <!--fonts-->
    <link rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Source+Code+Pro:400,500,600,700'
      type='text/css' media='screen'/>

    <!-- animejs -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
      integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
      crossorigin="anonymous">
    </script>

    {% block head %}
    {% endblock %}

</head>
<body>

<nav class="navbar container-fluid" role="navigation">
    <div id="dark-mode-toggle" class="form-check form-switch position-fixed">
      <input type="checkbox" class="form-check-input" id="darkSwitch" onclick="changeTheme()"/>
      <label class="custom-control-label text-muted" for="darkSwitch">Dark Mode</label>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/dark-mode-cookie.min.js') }}">
    </script>
    <ul class="navbar-ul list-inline w-100 justify-content-end d-flex">
        <li><a class="navbar-ref" href="/">Home</a></li>
        <li><a class="navbar-ref" href="/about">About</a></li>
        <li><a class="navbar-ref" href="/projects">Projects</a></li>
    </ul>
</nav>

{% block body %}
{% endblock %}

<!-- prevent fouc -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'js/prevent-fouc-end.js') }}">
</script>

</body>
<footer>
  <div class="footer">
    <p>&copy; 2021 | {{ name }}</p>
  </div>
</footer>

</html>
