{% extends "layout.html" %}

{% block head %}

<title>{{ name }} - Projects</title>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/projects.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/codehilite.css') }}">

<!-- TODO: Get modals working with Bootstrap 5.0 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% endblock %}

{% block body %}

<div class="grid">
  <div class="container-fluid projects-container content-row">
    <div class="row justify-content-center equal">
      {%- for project, info in projects.items() %}
      <!-- create card for each project in projects -->
      <div class="col-sm-3 project-col d-flex pb-3 align-items-stretch">
        <div class="card shadow h-100">
          <h4 class="card-title project-title">{{ info['name'] }}</h4>
          <h6 class="card-body text-muted">{{ info['descr'] }}</h6>
            <div class="btn-group">
              <a href="{{info['url']}}" target="_blank" class="btn btn-default card-footer w-50">
                  <img class="gl-link-logo" src="static/images/gitlab.svg">
                  <span class="card-button-text">GitLab</span>
              </a>
              <a data-remote="false" data-toggle="modal" data-target="#readMeModal-{{ info['gitlab-id'] }}" class="btn btn-default text-nowrap card-footer w-50">
                  <img class="gl-link-logo" src="static/images/readme.svg">
                  <span class="card-button-text">README</span>
              </a>
          </div>
        </div>
      </div>
      <!-- modal -->
      <div class="modal fade" id="readMeModal-{{ info['gitlab-id'] }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="readMeModalLabel-{{ info['gitlab-id'] }}" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="readMeModalLabel-{{ info['gitlab-id'] }}">{{ info['name'] }}</h4>
            </div>
            <!-- modal body, filled with README.md from readme_content -->
            <div class="modal-body">
              {{ info['readme_content']|safe }}
            </div>
            <!-- end modal body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {%- endfor %}
    </div>
  </div>
</div>

<!-- animate project cards -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/animate-projects.min.js') }}"></script>

<!-- hide dark mode switch on scroll -->
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/hide-dark-mode-switch.min.js') }}"></script>

<!-- katex math rendering -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.16/dist/katex.min.css" integrity="sha384-6LkG2wmY8FK9E0vU9OOr8UvLwsaqUg9SETfpq4uTCN1agNe8HRdE9ABlk+fVx6gZ" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.16/dist/katex.min.js" integrity="sha384-31El76TwmbHj4rF9DyLsygbq6xoIobG0W+jqXim+a3dU9W53tdH3A/ngRPxOzzaB" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/mathtex-script-type.min.js" integrity="sha512-AtYJFaBCPyMdmN+8FJNmF0NZS4bdRc/aRt548jP8oov/dhMf6Ei/qlf3wqF3hrI6c5xsqUsR+Uq2Lf5FRRrQHA==" crossorigin="anonymous"></script>

{% endblock %}
